header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: rgba(0, 28, 255, 0.64);
    color: white;
  }
  
  header h2 {
     padding: 100px auto;
  }
  
  main {
    padding-left: 20px;
  }
  
  .search-city button {
    margin: 10px;
    width: 150px;
    /* border-radius: 30%; */
    text-align: center;
  }
  
  .search {
    background-color: blue;
    color: white;
    border-bottom: 1px solid black;
    
  }